@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/*  */
/* Modal.css */
.close-btn {
  width: 30px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  max-height: 400px;
  overflow: auto;
  transform: scale(0.7);
  animation: heartbeat 0.5s ease-in-out infinite alternate;
  transition: transform 0.3s ease-in-out;
}

@keyframes heartbeat {
  to {
    transform: scale(1);
  }
}

.modal-overlay.show {
  opacity: 1;
}

.modal.show {
  transform: scale(1);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background: none;
  color: #555;
}

input {
  border: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #e5e6e5;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.main {
  width: 100%;
  padding: 2rem 6.25rem;
}
.navbar {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(232, 255, 247, 0.18);
}
.nav-active {
  color: #e9fff7 !important;
}
.logo {
  width: 100px;
}
.login-btn {
  background: #15c586;
  border: none;
  color: #e9fff7;
  padding: 1rem 0;
  font-weight: bold;
  width: 150px;
  border-radius: 6px;
  cursor: pointer;
}
.sign-up {
  background: #02291b;
  border: 1px solid #22674e;
  border-radius: 2px;
  color: #e8fff7;
  padding: 0.5rem 1rem;
}
header ul li {
  list-style: none;
  display: inline-block;
  margin-right: 16px;
  font-size: 1.2rem;
  color: #aeaeae;
}
header ul li:hover {
  color: #e9fff7;
  cursor: pointer;
}
.ninety-percent {
  width: 90%;
  margin: 0 auto;
}
.home-header {
  background: url(/public/images/bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding-bottom: 8rem;
  /* height: 100vh; */
}
.cta-btn {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.display-flex-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.hero-heading {
  font-size: 75px;
  font-weight: bold;
  line-height: 1;
}
.hero-desc {
  margin: 1rem 0;
  font-size: 0.8rem;
  line-height: 1.5;
}
.left-cont {
  width: 40%;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  z-index: 2;
}
.login-form input {
  padding: 1rem;
  border-radius: 10px;
}
.hero-illustration {
  width: 50%;
}
.hero-illustration img {
  width: 100%;
}
.hill {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.about-section {
  width: 100%;
  padding: 1.5rem 0;
  background: url(/public/images/about-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.about-heading-cont {
  margin: 2rem 0;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
}
.about-head {
  font-size: 45px;
  margin-bottom: 1rem;
}
.cards-cont {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.card {
  flex: 1;
  margin: 10px;
  max-width: 400px;
  padding: 1rem;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
}

.card-icon {
  width: 35px;
  height: 35px;
}

.card-head {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-desc {
  font-size: 1rem;
  color: #555;
}
.card-head {
  font-size: 18px;
  font-weight: bold;
}
.rate-section {
  background: url(/public/images/rate-section-bg.svg);
  padding: 2rem 0;
}
.rate-container {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);

  padding: 1rem;
  border-radius: 10px;
}
.title {
  text-align: center;
  margin: 2rem 0;
  font-size: 35px;
}
.rate-container {
  flex-wrap: wrap;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem;
  text-align: center;
}
.step-container {
  max-width: 350px;
  flex: 1;
}
.number {
  text-align: center;
  padding: 2rem;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: auto;
  font-size: 2rem;
  font-weight: bold;
}
.step-title {
  margin: 1rem 0;
}
.step-desc {
  font-size: 0.9rem;
  color: rgba(229, 230, 229, 0.5);
}
.rate-title {
  text-align: center;
  font-size: 2rem;
}
.rate-title-desc {
  text-align: center;
  margin-bottom: 2rem;
  color: rgba(229, 230, 229, 0.45);
}
.form-container {
  background: url(/public/images/form-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 890px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign-up-form {
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 2rem;
  gap: 10px;
  margin-top: 10rem;
  background: rgba(143, 144, 144, 0.47);
}
.sign-up-form section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.sign-up-form input,
.sign-up-form select,
.sign-up-form select option,
.sign-up-form button {
  padding: 1rem;
  border-radius: 50px;
  border: none;
}
.sign-up-desc,
.sign-up-title {
  text-align: center;
}
.sign-up-title {
  font-size: 2rem;
}
.sign-up-desc {
  margin-bottom: 1rem;
}
.sign-up-form button {
  width: 150px;
  cursor: pointer;
  margin: auto;
  background-color: #77ed91;
  color: #02291b;
  font-weight: bold;
}
.back-arrow {
  width: 25px;
  cursor: pointer;
}
.dashboard-cont {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  color: #02291b !important;
}
.dashboard-card {
  background-color: #8f9090;
  border-radius: 30px;
  padding: 1rem;
  /* width:; */
}
.dashboard-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard-main {
  width: 100%;
  padding: 1rem 2rem 1rem;
}
.logo-icon {
  width: 50%;
}
.notif-profile {
  display: flex;
  gap: 10px;
  align-items: center;
}
.dashboard-page-title,
.step-desc,
.selected-wallet {
  color: #343434;
  font-size: 1.2rem;
}
.selected-wallet {
  font-weight: bold;
}
.icon-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #8f9090;
  border-radius: 100px;
}
.dashboard-column {
  padding: 1rem 0;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.card-head-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.coin-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  border-radius: 30px;
  margin: 0.5rem 0;
}

.coin-data {
  display: flex;
  gap: 10px;
  align-items: center;
}

.coin-name,
.sn,
.coin-wallet {
  color: #8f9090;
}
.coin-symbol {
  font-size: 0.8rem;
  margin-left: 0.2rem;
}
.coin-wallet {
  font-size: 0.8rem;
}

.notif-icon-cont {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  overflow: hidden;
  margin-right: 10px;
}
.notif-icon-cont .notif-icon {
  width: 100%;
  height: 100%;
}
.quick-coin-cont {
  display: flex;
  gap: 10px;
  margin: 1rem 0;
}
.sell-coin-btn {
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 50px;
  color: #8f9090;
}
.trade-form input,
.trade-form .total,
.trade-form select {
  width: 100%;
  padding: 1rem;
  border-radius: 50px;
  background-color: #fff;
  margin-bottom: 1rem;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.transaction-date,
.transaction-time,
.transaction-desc {
  font-size: 0.8rem;
}

.transaction-desc {
  width: 250px;
}
.date-time {
  display: flex;
  flex-direction: column;
}
.trade-head {
  margin: 1rem 0;
  width: 100%;
}
.trade-step-container {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}
.step {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}
.head-intro {
  text-align: center;
}
.menuItemSpan img {
  width: 25px;
}
.coin-list-thmb {
  width: 25px;
}
.pagination-buttons {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: right;
}
.pagination-buttons button {
  font-size: 1rem;
  color: #02291b;
  padding: 0.5rem 1rem;
}
.input-search {
  padding: 0.6rem 1rem;
  background-color: #fff;
  border: none;
  color: #8f9090;
  border-radius: 100px;
}
.input-search:focus {
  outline: none;
}
select,
input,
option .total-desc,
.total p,
.modal-desc,
.modal-heading,
.modal-desc span {
  color: #8f9090;
}
.add-coin-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.add-coin-form input,
.add-coin-form select {
  padding: 1rem;
  border: none;
  background: #8f9090;

  border-radius: 10px;
}
.add-coin-form input::placeholder,
.add-coin-form select,
.add-coin-form select option {
  color: white;
}
.addCoin {
  padding: 1rem;
  border: none;
  color: black;
  border-radius: 50px;
  background: #77ed91;
  cursor: pointer;
}
.walletAddress-cont {
  margin: 2rem 0;
}
.copy-icon {
  cursor: pointer;
}
.walletAddres {
  font-weight: bold;
  color: white;
}
.wallet-cont {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.wallet-cont {
  position: relative;
}
.copied-message {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: -10px;
  left: 48%;
  transform: translateX(-50%);
  z-index: 999;
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.modal-desc span {
  font-weight: bold;
}
.transaction-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.transaction-card {
  padding: 1rem;
  width: 60%;
  /* height: 100px; */
  box-shadow: 0px 0px 32px 9px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 0px 32px 9px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 32px 9px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
}
.transaction-hr {
  border: 0.5px solid #d9d9d9;
}
.details-list {
  display: flex;
  justify-content: space-between;
}
.details-cont {
  margin: 1rem 0;
}
.details-cont div {
  margin-bottom: 1rem;
}
.walletAddressInput {
  color: white;
}
.transactio-value {
  color: #cccccc !important;
  font-weight: bold;
}
.pending-style {
  color: #ffa50d;
}
.user-transaction-status {
  /* font-size: 1.5rem; */
  font-weight: bold;
}
.admin-transaction-status {
  display: flex;
  align-items: center;
  gap: 20px;
}
.transction-status-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.user-transaction-status,
.admin-transaction-status {
  font-weight: bold;
  font-size: 1.6rem;
}
.approve-style {
  color: #26ce92;
}
.decline-style {
  color: #ea2d2d;
}
.notification-list-cont {
  border-bottom: 0.2px solid #e5e6e5;
  margin-bottom: 1rem;
  padding: 0.6rem 0;
  cursor: pointer;
}
/* .coin-details-cont */
.sign-up,
.login-bt {
  cursor: pointer;
}
.coin-price {
  font-weight: bold;
  color: #8f9090;
}
.update-input {
  width: 35%;
  padding: 0.5rem 0;
}
